body {
    background-color: #2E3440;

}

h1 {
    text-align: center;
   color: #D8DEE9;
}

p {
    text-align: center;
    color: #88C0D0;
}

.links {
    text-align: center;
}

.links a {
  margin: 0 0.5rem;
}